.margin-negative {
  margin: 20px auto 20px auto;
}

::ng-deep {
  .monitoring__sheet-view {
    max-width: 1400px;
    width: 90%;
    margin: 20px auto;
  }

  .monitoring {
    &__row {
      &:before {
        content: '';
        flex: 1;
        display: block;
      }

      & > * {
        flex: 1;
      }
    }
  }

  .mobile-view-body {
    margin: 15px 0;

    #sheet-view__value-mobile {
      max-width: 100px;
    }
  }

  .header-title {
    background-color: #f5f4f4;
    min-height: 50px;
    padding: 13px 14px;
  }
}
