$input-border-color: #bfc9c2;
$input-border-color: #bfc9c2;

@mixin sheet-row-basis($size, $padding) {
  flex-basis: $size;
  @if $padding == cold {
    padding: 10px;
  }

  @if $padding == complaint {
    text-align: center;
    min-width: 0;
    padding: 7px 10px;
  }

  @if $padding == delivery {
    min-width: 0;
    padding: 7px 10px;
  }

  @if $padding == trace {
    padding: 10px;
    text-align: center;
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.sheet-view__header--time {
  @include sheet-row-basis(15%, null);

  input,
  select {
    font-size: 14px;
  }
}

.sheet-view__header--supplier {
  @include sheet-row-basis(16%, null);
}

.sheet-view__header--product {
  @include sheet-row-basis(16%, null);
}

.sheet-view__header--temp {
  @include sheet-row-basis(9%, null);
}

.sheet-view__header--defect {
  @include sheet-row-basis(19%, null);
}

.sheet-view__header--prevent {
  @include sheet-row-basis(19%, null);
}

.sheet-view__header--photo {
  @include sheet-row-basis(6%, null);
}

.sheet-view__row--time {
  @include sheet-row-basis(15%, delivery);
}

.sheet-view__row--supplier {
  @include sheet-row-basis(16%, delivery);
}

.sheet-view__row--product {
  @include sheet-row-basis(16%, delivery);
}

.sheet-view__row--temp {
  @include sheet-row-basis(9%, null);
  display: flex;
  align-items: center;
  padding: 7px 2px 7px 10px;

  input {
    width: 73%;
  }
}

.sheet-view__row--defect {
  @include sheet-row-basis(19%, delivery);
}

.sheet-view__row--prevent {
  @include sheet-row-basis(19%, delivery);
}

.sheet-view__row--photo {
  @include sheet-row-basis(6%, null);
  display: flex;
  align-items: center;
  padding: 7px 3px;
}

.picture-popup {
  padding-left: 13px;
  @include transform(translateY(0%));
  @include transition(all 0.5s ease);

  .counter {
    padding-left: 2px;
    pointer-events: none;
  }

  &.open {
    z-index: 10;
  }

  .picture-hidden {
    width: 32px;
    height: 32px;
    visibility: hidden;
    overflow: hidden;
    top: -5px;
    right: 20px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid $input-border-color;
    box-shadow: 2px 2px 10px 0 $input-border-color;

    &.show {
      height: auto;
      min-height: 150px;
    }

    &.show {
      width: 250px;
      visibility: visible;

      & + .fa-camera {
        color: #a1a493 !important;
      }

      .inner {
        opacity: 1;
        cursor: default;
      }
    }

    .inner {
      padding: 15px 45px 15px 25px;
      opacity: 0;
      @include transition(opacity 0.3s ease);
      @extend .font-15;


      .picture-download-name {
        padding-bottom: 10px;
      }
    }
  }
}
