<div class="monitoring__sheet">
    <div
            [id]="'monitoring_sheet-view-desktop--' + foodDevice?.device_type.id"
            class="monitoring__sheet-view d-none d-lg-block"
    >
        <h5 class="text-center font-weight-bold">{{ 'delivery control' | translate | uppercase }}</h5>

        <div class="monitoring__row monitoring__row d-flex justify-content-between align-items-end">
            <app-date-filter (emitSelectedDates)="getDateValues($event)" [showGraph]="false"></app-date-filter>
            <div class="mb-3 d-none d-lg-block text-right">
                <button (click)="addDelivery()" class="btn-sm btn-green" id="sheet-view__add-row">
                    {{ 'Add Measurement' | translate }}
                </button>
            </div>
        </div>

        <app-table-header [headerNamesList]="headers"></app-table-header>
        <form [formGroup]="deliveryForm" novalidate>
            <div
                    *ngFor="let delivery of deliveries.controls; let deliveryIndex = index"
                    [id]="'sheet-view--' + deliveryIndex"
                    formArrayName="deliveries"
            >
                <app-table-row [formGroupName]="deliveryIndex" class="d-none d-lg-block">
                    <div class="sheet-view__row--time">
                        <app-date-selector
                                [formControl]="getDelivery(deliveryIndex).get('time')"
                                [id]="'sheet-view__date--' + deliveryIndex"
                                [showTime]="true"
                        ></app-date-selector>
                    </div>
                    <div class="sheet-view__row--supplier" formGroupName="data">
                        <input
                                (change)="checkUserUpdate(deliveryIndex)"
                                [id]="'sheet-view__supplier--' + deliveryIndex"
                                class="input-sm text-left w-100"
                                formControlName="supplier"
                                type="text"
                        />
                    </div>
                    <div class="sheet-view__row--product" formGroupName="data">
                        <input
                                (change)="checkUserUpdate(deliveryIndex)"
                                [id]="'sheet-view__product--' + deliveryIndex"
                                class="input-sm text-left w-100"
                                formControlName="product"
                                type="text"
                        />
                    </div>
                    <div class="sheet-view__row--temp">
                        <input
                                (change)="checkUserUpdate(deliveryIndex)"
                                [id]="'sheet-view__value--' + deliveryIndex"
                                class="input-sm text-left"
                                formControlName="value"
                                type="text"
                        />
                        <span>°C</span>
                    </div>
                    <div class="sheet-view__row--defect" formGroupName="data">
                        <ng-select
                                (change)="checkUserUpdate(deliveryIndex)"
                                *ngIf="dataService.showSelectMenus"
                                [clearable]="false"
                                [id]="'sheet-view__reason-quality--' + deliveryIndex"
                                [multiple]="true"
                                [searchable]="false"
                                appendTo="body"
                                class="reason-selection"
                                formControlName="quality"
                                placeholder="{{ 'Select' | translate }}"
                        >
                            <ng-option *ngFor="let defect of defects" [value]="defect.name">
                                {{ defect.name | translate }}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="sheet-view__row--prevent">
                        <ng-select
                                (change)="checkUserUpdate(deliveryIndex)"
                                *ngIf="dataService.showSelectMenus"
                                [clearable]="false"
                                [id]="'sheet-view__correcting-text--' + deliveryIndex"
                                [multiple]="true"
                                [searchable]="false"
                                [selectableGroup]="true"
                                appendTo="body"
                                class="reason-selection"
                                formControlName="correcting_text"
                                placeholder="{{ 'Select' | translate }}"
                        >
                            <ng-option *ngFor="let prevent of preventions" [value]="prevent.name">
                                {{ prevent.name | translate }}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div
                            (click)="setDropdownStatus(this.deliveryForm.get('deliveries').value[deliveryIndex], $event, false)"
                            [id]="'sheet-view__attachments-button--' + deliveryIndex"
                            [ngClass]="{ open: this.deliveryForm.get('deliveries').value[deliveryIndex]?.isOpen }"
                            class="picture-popup green sheet-view__row--photo cursor-pointer"
                    >
                        <div
                                [ngClass]="{ show: this.deliveryForm.get('deliveries').value[deliveryIndex]?.isOpen }"
                                class="picture-hidden d-flex position-absolute"
                        >
                            <div (click)="$event.stopPropagation()" class="inner d-flex flex-column text-left">
                                <div
                                        *ngFor="let attachment of delivery.value.attachments"
                                        [id]="'sheet-view__attachment--' + attachment.id"
                                >
                                    <div class="picture-download-name">
                    <span
                            (click)="showPicture(attachment.id, deliveryIndex)"
                            [id]="'sheet-view__show-picutre--' + attachment.id"
                            class="picture-name text-underline font-15 black cursor-pointer"
                    >
                      {{ attachment.display_name }}
                    </span>
                                        <span
                                                (click)="deletePicture(deliveryIndex, attachment.id)"
                                                [id]="'sheet-view__delete-picutre--' + attachment.id"
                                                class="font-15 red cursor-pointer ml-1"
                                        >
                      <i class="fas fa-times"></i>
                    </span>
                                    </div>
                                </div>
                                <div class="upload-btn-wrapper mt-auto">
                                    <input
                                            #photoInput
                                            (change)="checkImage($event, delivery.value.id, deliveryIndex, false)"
                                            accept=".jpeg, .png, .jpg, .gif"
                                            class="d-none"
                                            id="photoID"
                                            name="image"
                                            type="file"
                                    />
                                    <button
                                            (click)="photoInput.click()"
                                            [id]="'sheet-view__add-picutre--' + deliveryIndex"
                                            class="font-weight-bold green bg-transparent p-0 font-16"
                                            type="button"
                                    >
                                        <i class="fas fa-plus"></i>
                                        <span class="pl-1">{{ 'add_image' | translate }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <i class="fas fa-camera position-relative align-middle font-20"></i>
                        <span
                                *ngIf="
                !this.deliveryForm.get('deliveries').value[deliveryIndex]?.isOpen &&
                delivery.value.attachments !== null &&
                delivery.value.attachments.length !== 0
              "
                                class="counter green font-weight-bold align-middle"
                        >
              {{ delivery.value.attachments.length }}
            </span>
                    </div>
                    <app-more-actions-btn [actionsId]="'sheet-view__settings' + deliveryIndex"
                                          (toggled)="delBtnState = null">
                        <li (click)="deleteDelivery($event, deliveryIndex)" class="more-actions__list-item">
                            <button
                                    class="btn-no-style width-100 text-left text font-14"
                                    [ngClass]="delBtnState ? (delBtnState === 'done' ? 'green' : 'orange') : 'black'"
                            >
                <span class="min-width-15 d-inline-block text-center mr-2">
                  <i class="button-icon fas fa-trash-alt" [ngClass]="{ red: !delBtnState }"></i>
                </span>
                                <span class="font-weight-normal"
                                >{{ (delBtnState ? delBtnState : 'delete') | translate | capitalize }}
                  {{ delBtnState === 'confirm' ? '?' : '' }}
                </span>
                            </button>
                        </li>
                    </app-more-actions-btn>
                </app-table-row>
            </div>
        </form>
        <p
                *ngIf="!deliveryForm.value?.deliveries.length && !loading && !httpError"
                class="text text-italic no-content"
        >
            {{ 'No Data to show' | translate }}.<br/>{{ 'Click' | translate }} <b>{{ 'Add Measurement' | translate
            }}</b>
            {{ 'to add deliveries' | translate }}.
        </p>
        <p *ngIf="!loading && httpError" class="text text-italic no-content">
            {{ 'Error while retrieving data. Try other filters.' | translate }}
        </p>
    </div>
</div>
