<div class="monitoring-wrapper d-flex justify-content-center mx-auto mb-3">
  <div class="monitoring__date-filter d-none d-lg-block">
    <div
      [ngClass]="!showGraph ? 'monitoring__filter-options-no-graph' : ''"
      class="monitoring__filter-options d-flex align-items-center justify-content-between font-15"
    >
      <a
        (click)="filterData(filter.value)"
        *ngFor="let filter of DATE_FILTER"
        [id]="'date-filter__' + filter.text"
        [ngClass]="{ 'text-bold': selectedFilter === filter.value }"
        [routerLink]=""
        class="green"
      >
        {{ filter.text | translate }}
      </a>
      <div *ngIf="showGraph" class="monitoring__vl"></div>
      <a (click)="openGraphicalRepresentation()" *ngIf="showGraph" [routerLink]="" id="date-filter__graph">{{
        'Graphic' | translate
      }}</a>
    </div>
    <div class="monitoring__date-picker d-flex align-items-center justify-content-between">
      <span class="position-relative">
        <input
          (dateTimeChange)="onChange()"
          [(ngModel)]="selectedDates"
          [owlDateTimeTrigger]="fromDate"
          [owlDateTime]="fromDate"
          [selectMode]="'rangeFrom'"
          class="input-sm black"
          id="date-filter__from"
        />
        <span class="monitoring__calendar-icon position-absolute">
          <i class="far fa-calendar-alt"></i>
        </span>
        <owl-date-time #fromDate [firstDayOfWeek]="1" [pickerType]="'calendar'"></owl-date-time>
      </span>
      <span>
        <hr />
      </span>
      <span class="position-relative">
        <input
          (dateTimeChange)="onChange()"
          [(ngModel)]="selectedDates"
          [owlDateTimeTrigger]="toDate"
          [owlDateTime]="toDate"
          [selectMode]="'rangeTo'"
          class="input-sm"
          id="date-filter__to"
        />
        <span class="monitoring__calendar-icon position-absolute">
          <i class="far fa-calendar-alt"></i>
        </span>
        <owl-date-time #toDate [firstDayOfWeek]="1" [pickerType]="'calendar'"></owl-date-time>
      </span>
    </div>
  </div>
  <div *ngIf="showSearch" class="monitoring__search d-flex align-items-center">
    <div class="position-relative">
      <input
        (input)="onSearchTermInput()"
        [(ngModel)]="searchTerm"
        class="input-sm w-100"
        placeholder="{{ 'Search ingredient' | translate }}"
        type="text"
      />
      <i class="fas fa-search search-icon position-absolute"></i>
    </div>
  </div>
</div>
