$placeholder-color: #a1a49e;
$black: #4a4a4a;

.monitoring-wrapper {
  background-color: #f5f4f4;
  max-width: 800px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.monitoring__date-filter {
  border-radius: 3px;
  padding: 5px 50px 20px 50px;

  .monitoring__filter-options {
    &.monitoring__filter-options-no-graph {
      justify-content: space-evenly;
      padding: 0 25px;
    }

    .monitoring__vl {
      width: 2px;
      height: 20px;
      border: solid 1px #7c7f79;
    }
  }

  .monitoring__date-picker {
    margin-top: 20px;
    color: $placeholder-color;

    input {
      padding-right: 20px;
    }

    span hr {
      width: 11px;
      border: solid 0.5px #5f5f5f;
      margin-left: 5px;
      margin-right: 5px;
    }

    .monitoring__calendar-icon {
      top: 8px;
      right: 5px;
    }
  }
}

.monitoring__search {
  min-width: 250px;
  padding: 5px 25px 20px;
  flex: 1;
  border-left: 2px solid lighten($black, 50%);

  .search-icon {
    right: 10px;
    top: 50%;
    @include transform(translateY(-50%));
    color: lighten($black, 30%);
  }
}
